%h1 Do we even exist? PSA: reindeer being trained to deliver pizza in Japan.
= form_tag '/login' do 

    = label :email, 'Email:'
    = text_field :user, 'email'
    
    = label :password, 'Password: '
    = password_field :user, 'password'


    = submit_tag 'Login'
    