%h1 Do we even exist? PSA: reindeer being trained to deliver pizza in Japan.
= form_tag '/login' do 

    = label :email, 'Email:'
    = text_field :user, 'email'
    
    = label :password, 'Password: '
    = password_field :user, 'password'

    = submit_tag 'Walk calmly into the void'
    
    
= link_to "No, I will raGE AGAINST THE DYING OF THE NIGHT", "/betchaDidntSeeThisComing/hi", class: "btn btn-lg btn-primary"
    