%h1 Sign Up!
%h3
= form_tag '/users' do

  = label :user, :name, 'Name'
  = text_field :user, 'Name'

  = label :user, :isProfessor, 'Are you are professor?'
  = select :user, :isProfessor, ['Yes', 'No']
  
  = label :user, :email, 'Email'
  = text_field :user, 'email'
  
  = label :user, :password, 'Password'
  = password_field :user, 'Password'
  
  = label :user, :password_confirmation, 'Password Confirmation'
  = password_field :user, 'Password Confirmation'
  
  = submit_tag 'Submit'