-# = render "welcome/_index"
%h1 All Courses

%table#courses
  %thead
    %tr
      %th Course Title
      %th Code
      %th Professor
  %tbody
    - @courses.each do |course|
      %tr
        %td= link_to course.title, "#{course.id}"
        %td= link_to course.coursecode, "#{course.coursecode}"
        %td= link_to course.professor, "#{course.coursecode}"
        
