%h1 All Courses

%table#courses
 %thead
  %tr
    %th Course Title
    %th Course Code
    %th Select
 %tbody
  - @courses.each do |course|
    %tr
      %td= course.title
      %td= course.code
      %td= link_to "#{course.title}", course_path(course)
= link_to 'Search', new_course_path
    