%h1 Create New Course

= form_tag courses_path do


  = label :course, :title, 'Title'
  = text_field :course, 'title'

  = label :course, :professor, 'Professor'
  -# ok later need to get the value from session
  = text_field :course, 'professor'

  = label :course, :coursecode, 'Course Code'
  = text_field :course, 'coursecode'

  = submit_tag 'Save Changes'